---
import './styles.css';

interface Props {
    title: string,
    description: string,
    items: {
        title: string,
        description: string,
        features: string[],
    }[],
}

const {title, description, items = []} = Astro.props;

---

<section class="services" id="servicios">
    <div class="section-title">
        <h2>{title}</h2>
        <p>{description}</p>
    </div>
    <div class="services-grid">
            {items.map((item, index) => (
              <div class=`service-card card-${index % 2 === 0 ? 'blue' : 'purple'}`>
                  <div class="card-icon">
                      <div class="icon-inner"></div>
                  </div>
                  <h3><Fragment set:html={item.title} /></h3>
                  <p><Fragment set:html={item.description} /></p>
                  <ul class="service-features">
                      {item.features.map((feature) => (
                        <li><span class="feature-dot"></span> <Fragment set:html={feature} /></li>
                      ))}
                  </ul>
              </div>
            ))}
    </div>
</section>
