---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import './styles.css';

interface Props {
    siteName: string,
    logo: ImageMetadata,
    links: {
        id: string,
        label: string,
    }[]
}

const {siteName, logo, links = []} = Astro.props;
---

<header>
    <nav>
        <div class="logo">
            <Image class="logo-image" alt={siteName} src={logo} priority={true} />
        </div>
        <ul class="nav-links">
            {links.map((item) => (
                <li><a href=`#${item.id}` class={item.class}>{item.label}</a></li>
            ))}
        </ul>
    </nav>
</header>
